.backDrop {
    /* width: "70%"; */
    /* height: "80vh"; */
    @media(min-width: 900px) {
        width: "70%";
        height: "80vh";
    }
}
.editorWrapper{
    @media(max-width: 900px) {

    }
}

.titleInput {
    background-color:transparent;
    outline: none ;
    border: none;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 23px;
    width: 80%;
}

.postButton{
    border-radius: 10px;
    align-self: flex-start;
    border: none;
    width: 20%;
    height: 72%;
    padding: 3px 0 3px 0;
    font-weight: 700;
}

.postButton:hover{
    /* border: 10px solid red; */
    color: #34346b;
}
.postButton:hover .postIcon {
    fill:#34346b
}
.postButton:active{
    color:#2282ce;
}
.postButton:active .postIcon {
    fill:#2282ce;
}
/* .titleInput:focus{
    outline: none;
    background-color:transparent;
} */